:root {
  --card-radius: 1vw;
  --button-radius: 0.8vw;
}

.search-form {
  position: fixed;
  top: 0%;
  left: 50%;
  z-index: 1;
  /* bring your own prefixes */
  transform: translate(-50%, 0%);

  display: flex;
  /* gap: 1vw; */
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;
  background-color: #231768;

  width: 100%;
  height: 5vh;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 1), -23px 0 20px -23px rgba(0, 0, 0, 0.8),
    23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.search-btn {
  height: 3.3vh;
  width: 6vw;
  font-size: 1vw;
  line-height: 1.1;
  text-align: center;
  margin-left: 0;
  border-radius: 0.5vw;
  border: none;
}

input {
  display: flex;
  align-items: center;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-right: 1vw;
  width: 30vw;
  height: 3.3vh;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.1;
  font-size: 1.1vw;
  font-weight: 500;

  color: black;
  background-color: white;
  border-color: white;
  border-width: 0;
  outline: none;
}

input::placeholder {
  color: lightgray;
  font-size: 1vw;
  text-align: center;
}

input:focus {
  border-width: 1px;
}

.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 6vh auto 0;
  gap: 2vw;
}

button.load-more {
  display: block;
  margin: 2vh auto 2vh auto;
  width: 15vw;
  height: 6vh;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.1;
  font-size: 1.5vw;

  background-color: rgb(9, 27, 97);
  color: white;
  border-color: white;
  border-radius: var(--button-radius);
  border-width: 0.1em;

  /* position: absolute; */

  transform: translateX(-100vw);
  transition: transform 250ms ease-in-out;
}

button.load-more:hover,
button.load-more:focus {
  background-color: rgb(169, 169, 238);
  color: black;
  border-color: black;
  /* border-width: 2px; */
}

button.load-more.is-visible {
  transform: translateX(0);
}

a {
  /* display: block; */
  margin: 0;
  /* flex-basis: calc(25vw - 20px); */
  flex-basis: 22vw;
  /* height: calc(25vw * 0.9); */
  height: 20vw;
  /* justify-content: center; */
  border-width: 1px;
  border-color: gray;
  border-radius: var(--card-radius);
  text-decoration: none;
  overflow: hidden;
  opacity: 0.95;
}

a:hover,
a:focus {
  /* background-color: #fff; */
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  opacity: 1;

  transform: scale(1.05);
  transition: transform 200ms ease-in-out;
}
.photo-card {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: var(--card-radius);
}

.img-item {
  display: block;
  justify-content: center;
  border: 1px gray;
  width: 100%;
  height: 16vw;
  border-radius: var(--card-radius);
  /* height: 200px; */
  object-fit: cover;
}

.info-item {
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* padding: 0 10px; */

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.2;
  font-size: 1vw;
}

.info {
  width: 100%;
  height: 4vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1vw;

  color: #000;
}
